{{ partial "head" . }}

<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">
                <div class="post-archive">
                    <h2 class="menu-title">{{.Title}}</h2>
                    <div class="links">
                    {{.Content}}
                    </div>
                </div>
            </div>
            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}
<style>
    .links{
        margin-top: 10px;
    }
    .links a{
        border: 1px solid #009688;
        float: left;
        width: 45%;
        height: 40px;
        padding: 10px 5px;;
        margin-right: 20px;
        margin-top: 25px;
        font-size: 18px;
        word-break: break-all;
        text-align: center;
        color: #009688;
    }
    .links a:hover{
        border: 1px solid #004d40;
        color: #004d40;
    }
</style>
</body>
</html>
