{{ partial "head" . }}

<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">
                <div class="post-archive">
                    <div class="links">
                    {{.Content}}
                    </div>
                </div>
            </div>
            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}
</body>
<style>
    h4 {
        border-bottom: 1px solid #827717;
        clear: both;
    }
    .other-page-tag{
        float: left;
        border: 1px solid #b0bec5;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 0px 8px;
        border-radius: 5px;
    }
    .other-page-tag:hover{
        background-color: #eceff1;
        border-color: #757575;
    }
    </style>
</html>
